.stats {
  &__title {
    text-align: center;
  }
  &__list {
    padding: 0px;
    &-content {
      display: flex;
      margin: 0 auto;
      &--chart{
        justify-content: space-around;
        :nth-child(1){
          background-color: #36A2EB;
        }
        :nth-child(2){
          background-color: #FF6384;
          margin: 0 5px;
        }
        :nth-child(3){
          background-color: #FFCE56;
        }
      }
      &--intakes{
        justify-content: space-between;
        width: calc(100%/1.2);
      }
    }
    &-item {
      display: inline-block;
      font-size: 1.2rem;
      &--chartdata{
        width: calc(100%/3);
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &--percent{
        width: calc(100%/3);
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        &::after{
          content: '%';
        }
      }
    }
  }
}
