<div class="meal-page">
  <div class="meal__img"></div>
  <div class="meal">
    <div class="row">
      <div class="meal__card">
        <form (ngSubmit)="onSubmitMeal(mealCreateForm)" #mealCreateForm="ngForm" class="meal__form">
          <fieldset class="meal__fieldset">
            <div class="col-12">
              <legend class="meal__legend">Ingresa a continuaci&oacute;n los valores nutricionales de tu comida</legend>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="meal__label" for="">
                <input type="text" placeholder="Name" name="name" [(ngModel)]="meal.name" #name="ngModel" class="meal__input" required>
                <div *ngIf="name.errors?.required">
                  <p class="meal__input--error">Invalid name</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="meal__label" for="">
                <input type="text" placeholder="Serving size" name="servingSize" [(ngModel)]="meal.specNutritions.servingSize" #specNutritions="ngModel"
                  class="meal__input" required>
                <div *ngIf="specNutritions.errors?.required">
                  <p class="meal__input--error">Invalid servingSize</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="meal__label" for="">
                <input type="text" placeholder="Calories" name="calories" [(ngModel)]="meal.specNutritions.calories" #calories="ngModel"
                  class="meal__input" required>
                <div *ngIf="calories.errors?.required">
                  <p class="meal__input--error">Invalid calories</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="meal__label" for="">
                <input type="text" placeholder="Fat" name="fat" [(ngModel)]="meal.specNutritions.fat" #fat="ngModel" class="meal__input"
                  required>
                <div *ngIf="fat.errors?.required">
                  <p class="meal__input--error">Invalid fat</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="meal__label" for="">
                <input type="text" placeholder="Carbs" name="carbs" [(ngModel)]="meal.specNutritions.carbs" #carbs="ngModel" class="meal__input"
                  required>
                <div *ngIf="carbs.errors?.required">
                  <p class="meal__input--error">Invalid carbs</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="meal__label" for="">
                <input type="text" placeholder="Protein" name="protein" [(ngModel)]="meal.specNutritions.protein" class="meal__input" required>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="meal__label" for="">
                <input type="text" placeholder="Sugar" name="sugar" [(ngModel)]="meal.specNutritions.others.sugar" class="meal__input">
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="meal__label" for="">
                <input type="text" placeholder="Cholesterol" name="cholesterol" [(ngModel)]="meal.specNutritions.others.cholesterol" class="meal__input">
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="meal__label" for="">
                <input type="text" placeholder="Caffeine" name="caffeine" [(ngModel)]="meal.specNutritions.others.caffeine" class="meal__input">
              </label>
            </div>
          </fieldset>
          <div class="col-12 col-sm-10 offset-sm-1">
            <div class="meal__btn-content">
              <button type="submit" class="meal__btn"> Submit</button>
            </div>
          </div>
          <div class="col-12">
            <div class="meal__link-content">
              <a [routerLink]="['/intakes']" href="#" class="meal__link">Add intakes</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>