<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="row">
    <div class="col-12">
      <a [routerLink]="['/meals']" href="#">
        <figure class="navbar__figure">
          <img class="navbar__img" src="./assets/imagenes/Logo.png" alt="logotipo controla-t">
        </figure>
      </a>
      <button class="navbar__btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar__btn-list collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li *ngIf="!user" class="nav-item active"  data-toggle="collapse" data-target=".navbar-collapse.show">
            <a [routerLink]="['/login']" class="nav-link" href="#">Login</a>
          </li>
          <li *ngIf="!user" class="nav-item"  data-toggle="collapse" data-target=".navbar-collapse.show">
            <a [routerLink]="['/signup']" class="nav-link" href="#">SignUp</a>
          </li>
          <li class="nav-item"  data-toggle="collapse" data-target=".navbar-collapse.show">
            <a [routerLink]="['/meals']" class="nav-link"  href="#">Meals</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a [routerLink]="['/intakes']" class="nav-link" href="#">Intakes</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a [routerLink]="['/stats']" class="nav-link" href="#">Stats</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a [routerLink]="['/profile']" class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link navbar__profile-link" id="navbarSupportedContent" (click)="onClickLogout()" *ngIf="user">Logout</a>
          </li>
        </ul>
      </div>
      <div class="navbar__profile-content" *ngIf="user">
        <p class="navbar__profile" style="color: white">{{user.nickname}}</p>
      </div>
    </div>
  </div>
</nav>