<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 style="font-size: 2rem">Control-t</h1>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a [routerLink]="['/login']" class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/signup']" class="nav-link" href="#">SignUp</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/meals']" class="nav-link" href="#">Meals</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/intakes']" class="nav-link" href="#">Intakes</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/stats']" class="nav-link" href="#">Stats</a>
        </li>
        <li class="nav-item">
            <a (click)="onClickLogout()">Logout</a>
        </li>
      </ul>
    </div>
    <div *ngIf="user">
        <small style="color: white">{{user.nickname}}</small>
        <a class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" (click)="onClickLogout()">Logout</a>
      </div>
  </nav>