// .ng-valid[required], .ng-valid.required  {
//     border-left: 5px solid #42A948; /* green */
// }
  
// .ng-invalid:not(form)  {
//     border-left: 5px solid #a94442; /* red */
// }

.login{

    background-size: 100%;
    &__card{
        width: 100%;
        opacity: 0.7;
        background: white;
    }
    &__form{
        width: 100%;
    }
    &__fieldset{
        text-align: center;
    }
    &__input{
        min-height: 48px;
        background: white;
        border: 1px solid grey;
        margin-top: 20px;
        padding: 10px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        font-family: "Nunito";
    }
    &__btn{
        width: 50%;
        min-height: 48px;
        padding: 10px;
        background: #FF8000;
        border:0;
        border-radius: 5px;
        text-align: center; 
        color: white;
        margin: 20px auto 20px;
        &-content{
            text-align: center;
        }
    }
}