<div class="login-page">
  <div class="login__img">
    <div class="login__img-opacity">
      <h2 class="login__img-title">Do you really know what you're eating?</h2>
      <p class="login__img-subtitle">With our application you can monitor and keep track of everything you consume based on your lifestyle, helping you to be healthier and live better.</p>
    </div>
  </div>
  <div class="login">
    <div class="row">
      <div class="login__card">
        <form (ngSubmit)="onSubmitLogin(loginForm)" #loginForm="ngForm" class="login__form">
          <fieldset class="login__fieldset">
            <div class="col-12">
              <legend class="login__legend">Sign up for our application and start to control-t</legend>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="login__label" for="email">
                <input type="email" name="email" class="login__input" placeholder="Enter email" [(ngModel)]="user.email" #email="ngModel"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                <div *ngIf="email.errors?.required">
                  <p class="login__input--error">Invalid required</p>
                </div>
              </label>

            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="login__label" for="password">
                <input type="password" name="password" class="login__input" placeholder="Password" [(ngModel)]="user.password" #password="ngModel"
                  required>
                <div *ngIf="password.errors?.required">
                  <p class="login__input--error">Password required</p>
                </div>
              </label>

            </div>
          </fieldset>
          <div class="col-12 col-sm-10 offset-sm-1">
            <div class="login__btn-content">
              <button type="submit" class="login__btn" [disabled]="!loginForm.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>