<div class="signup-page">
  <div class="signup__img"></div>
  <div class="signup">
    <div class="row">
      <div class="signup__card">
        <form (ngSubmit)="onSubmitSignup(signupForm)" #signupForm="ngForm" class="signup__form">
          <fieldset class="signup__fieldset">
            <div class="col-12">
              <legend class="signup__legend">Enter your personal data below</legend>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="signup__label" for="nickname">
                <input type="text" placeholder="Nickname" name="nickname" class="signup__input" [(ngModel)]="user.nickname" #nickname="ngModel" required>
                <div *ngIf="nickname.errors?.required && nickname.touched">
                  <p class="signup__input--error">Nickname required</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="signup__label" for="email">
                <input type="text" placeholder="Email" name="email" class="signup__input" [(ngModel)]="user.email" #email="ngModel" required>
                <div *ngIf="email.errors?.required && email.touched">
                  <p class="signup__input--error">Email required</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="signup__label" for="password">
                <input type="password" placeholder="Password" name="password" class="signup__input" [(ngModel)]="user.password" #password="ngModel" required >
                <div *ngIf="password.errors?.required && password.touched">
                  <p class="signup__input--error">Password required</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="signup__label"  for="sex">
                <p class="signup__txt">Sex</p>
                <select name="sex" class="signup__input signup__input-select" [(ngModel)]="user.info.sex" #sex="ngModel" required>
                  <option value="women" selected>women</option>
                  <option value="men">men</option>
                </select>
                <div *ngIf="sex.errors?.required && sex.touched">
                  <p class="signup__input--error">Sex required</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="signup__label"  for="weight">
                <p class="signup__txt">Info for TMB</p>
                <input type="number" placeholder="Weight" class="signup__input" name="weight" [(ngModel)]="user.info.weight" #weight="ngModel" required>
                <div *ngIf="weight.errors?.required && weight.touched">
                  <p class="signup__input--error">Weight required</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="signup__label"  for="stature">
                <input type="number" placeholder="Stature" class="signup__input" name="stature" [(ngModel)]="user.info.stature" #stature="ngModel" required>
                <div *ngIf="stature.errors?.required && stature.touched">
                  <p class="signup__input--error">Stature required</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="signup__label"  for="age">
                <input type="number" placeholder="Age" class="signup__input" name="age" [(ngModel)]="user.info.age" #age="ngModel" required>
                <div *ngIf="age.errors?.required && age.touched">
                  <p class="signup__input--error">Age required</p>
                </div>
              </label>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
              <label class="signup__label"  for="select">
                <p class="signup__txt">Activity</p>
                <select name="select" class="signup__input signup__input-select" [(ngModel)]="user.info.activity" #selected="ngModel" required>
                  <option value="sedentary" selected>Sedentary</option>
                  <option value="light">Light</option>
                  <option value="moderate">Moderate</option>
                  <option value="intense">intense</option>
                  <option value="extreme">extreme</option>
                </select>
                <div *ngIf="selected.errors?.required && activity.touched">
                  <p class="signup__input--error">Activity required</p>
                </div>
              </label>
            </div>
          </fieldset>
          <div class="col-12">
            <div class="signup__link-content">
              <button type="submit" class="signup__btn">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>