<h3 class="first">Add intake</h3>
<div>
  <p-dropdown [options]="meals" [(ngModel)]="selectedMeal" placeholder="Select a meal" optionLabel="name" [showClear]="true"
    filter="true"></p-dropdown>
</div>
<div *ngIf="selectedMeal" style="border: 1px solid black">
  <ul style="border: 1px solid blue; display:flex; justify-content: space-around; padding: 0">
    <li style="width: auto; display: inline-block; border: 1px solid red">
      ServingSize
    </li>
    <li style="width: auto; display: inline-block;border: 1px solid red">
      Calories
    </li>
    <li style="width: auto; display: inline-block; border: 1px solid red">
      Fat
    </li>
    <li style="width: auto; display: inline-block; border: 1px solid red">
      Carbs
    </li>
    <li style="width: auto; display: inline-block; border: 1px solid red">
      Protein
    </li>
  </ul>
  <ul *ngIf="selectedMeal" style="border: 1px solid blue; display:flex; justify-content: space-around">
    <li style="width: auto; display: inline-block; border: 1px solid red">
      {{selectedMeal.specNutritions.servingSize}}
    </li>
    <li style="width: auto; display: inline-block;border: 1px solid red">
      {{selectedMeal.specNutritions.calories}}
    </li>
    <li style="width: auto; display: inline-block; border: 1px solid red">
      {{selectedMeal.specNutritions.fat}}
    </li>
    <li style="width: auto; display: inline-block; border: 1px solid red">
      {{selectedMeal.specNutritions.carbs}}
    </li>
    <li style="width: auto; display: inline-block; border: 1px solid red">
      {{selectedMeal.specNutritions.protein}}
    </li>
  </ul>
  <button type="button" (click)="addMeal(selectedMeal)">Add intake</button>
</div>
<div *ngIf="intakes.length > 0">
  <h3>List intakes</h3>
  <div *ngFor="let intake of intakes; let i = index">
    <div *ngFor="let meal of meals">
      <p *ngIf="meal.id === intake.meal">
        {{meal.name}}
        <span>
          <button type="button" (click)="removeIntake(i)">
            <i class="fa fa-minus"></i>
          </button>
        </span>
      </p>
    </div>
  </div>
</div>
<a [routerLink]="['/meals']" class="nav-link" href="#">Create meals</a>
